/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 02-Feb-2023, 5:32:56 pm
    Author     : Ashok Kushwaha
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
}

.button{
  
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
}



.row{
  margin: 8px 0;
}
/* .row input{
  width: 100px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px; 
}*/

.disp{
  width: 300px;
  font-size: 25px;
  text-align: center;
    margin: 0;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 5px;
}
@font-face {
    font-family: 'Technology-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Technology-Bold'), url('Technology-Bold.woff') format('woff');
}
